.equipments {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container-equipments {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
