.equipment-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-equipment-detail {
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 30px;
}

.container-image-equipment {
  width: 500px;
  padding: 20px;
  text-align: center;
}

.image-equipment {
  max-width: 100%;
  object-fit: contain;
}

.features-equipment {
  width: 500px;
  padding: 20px;
}

.item-detail {
  display: flex;
  font-size: 20px;
  margin-bottom: 10px;
}
.item-detail__label {
  font-weight: bold;
  margin-right: 5px;
}
